* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New',
    Courier,
    monospace;

}

.node {
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  position: absolute;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 50%;
  user-select: none;
  z-index: 1;
  background-color: white;
}


.weight {
  font-size: 1rem;
  position: absolute;
  display: inline-block;
  color: #333;
}